
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500&family=Young+Serif&display=swap');


body {
    background-color: rgb(90, 148, 75);
  }
  
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Pixelify Sans', cursive;

  }
  
  p {
    font-family: 'Pixelify Sans', cursive;
    text-align: center;
    font-size: 20px;
  }
 
#nappi:hover {
    background-color: #f3b0ed;
    font-size: 16px;
  }
#nappi {
  object-position: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
margin-bottom: 5px;
background-color: rgb(49, 99, 55);
position: relative;
}
  
img {
  object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
   
  
}

/*alempi pätkä on kuvan zoomausta varten*/

input[type=checkbox] {
  display: none;
}

.container img {

  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}